---
import Layout from '../../layouts/Layout.astro';
import { getCollection } from 'astro:content';

const posts = await getCollection('posts');
const sortedPosts = posts.sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
---

<Layout title="Posts | stdout.shivoncall.com">
  <h1>All Posts</h1>
  
  {sortedPosts.length > 0 ? (
    <ul class="post-list">
      {sortedPosts.map((post) => (
        <li class="post-item">
          <a href={`/posts/${post.slug}`}>
            <h2 class="post-title">{post.data.title}</h2>
            <p class="post-date">{post.data.date.toLocaleDateString('en-US', { 
              year: 'numeric', 
              month: 'long', 
              day: 'numeric' 
            })}</p>
            {post.data.description && (
              <p class="post-description">{post.data.description}</p>
            )}
          </a>
        </li>
      ))}
    </ul>
  ) : (
    <p>No posts yet. Check back soon!</p>
  )}
</Layout> 